@model List<Actor>

@{
    ViewData["Title"] = "Actor Management";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Actor Table</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Actor" asp-action="Upsert" class="btn btn-primary btn-lg">
                <i class="bi bi-file-earmark-plus"></i>  Create
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="width:7%">Id</th>
                <th>Name</th>
                <th>Associated movies</th>
                <th style="width:20%">Image</th>
                <th style="width:15%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Actor actor in Model)
            {
                <tr>
                    <td>@actor.Id</td>
                    <td>@actor.Name</td>
                    <td>
                        @foreach (Movie movie in actor.Movies)
                        {
                            <small>@movie.Title;</small>
                        }
                    </td>
                    <td><img src="@actor.ImageUrl" style="max-height:100px;width:auto"></td>
                    <td>
                        <div class="w-50 btn-group" role="group">
                            <a asp-controller="Actor" asp-action="Upsert" asp-route-id="@actor.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a class="btn btn-danger mx-2 delete-btn" data-url="@Url.Action("Delete", "Actor", new { id = actor.Id })">
                                <i class="bi bi-trash3-fill"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/itemDeletion.js"></script>
}